<%
  const navGroups = {
    '/': ['/', '/index.html'],
    '/shop': ['/shop', '/issues', '/issues.html', '/marketplace', '/marketplace.html'],
    '/subscribe': ['/subscribe', '/subscribe.html'],
    '/blog': ['/blog'],
    '/faq': ['/faq', '/boring-score', '/boring-score.html'],
    '/contact': ['/contact', '/advertise', '/advertise.html']
  };
%>
<header class="site-header" data-nav data-open="false">
  <div class="site-header__inner shell">
    <a class="brandmark" href="/" aria-label="<%= site.name %> home">
      <span class="brandmark__leaf" aria-hidden="true"></span>
      <span class="brandmark__text">
        <span class="brandmark__name">Sprig</span>
        <span class="brandmark__accent">&amp; Soil</span>
      </span>
    </a>

    <button
      class="nav-toggle"
      type="button"
      aria-expanded="false"
      aria-controls="site-nav"
      data-nav-toggle
    >
      Menu
    </button>

    <nav class="site-nav" id="site-nav" data-nav-panel>
      <% site.primaryNav.forEach((item) => { %>
        <a href="<%= item.href %>" class="<%= (navGroups[item.href] || [item.href]).includes(currentPath) ? 'is-active' : '' %>">
          <%= item.label %>
        </a>
      <% }) %>
    </nav>

    <a class="button button-primary header-cta" href="/subscribe">Start weekly box</a>
  </div>
</header>
